<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>People</title>
</head>

<div style= "margin-top: 10px;" class="container">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">Main Page</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/persons">Persons</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="/parties">Parties</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/elections">Elections</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/graphs">Graphs</a>
          </li>
        </ul>
        
      </div>
    </nav>
  </div>









<body>

    <div style= "margin-top: 100px;" class="container">
        <h3>{{person[1]}} {{person[2]}}</h3>
        <hr>

        <div style= "margin-left: 35%;" class="container">
            <div class="col-sm-4">
                <div class="card">
                    <a href="">
                        <img width="256" height="256" style="display: block;margin-left: auto;margin-right: auto;" src="{{url_for('static', filename=person[6])}}" alt="Card image cap">
                    </a>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><i>Date of Birth:</i> {{person[4].day}} {{person[4].strftime("%B")}} {{person[4].year}}</li>
                        <li class="list-group-item"><i>Hometown:</i> {{person[3]}}</li>
                        {% if person[5] %}
                            <li class="list-group-item"><i>Date of Death:</i>  {{person[5]}}</li>
                        {% else %}
    
                        {% endif %}
                        
                         
                    </ul>

                    <div class="card-body">
                        <h6 class="card-title">Parties: </h6>
                    
              
                        {% for member in  members%}
                            <li><a href="/parties/{{member[5]}}">{{member[6]}}</a>, {{member[1].year}} - {{member[2].year}} </li>
                        {% endfor %}

                    </div>

                    {% if elections %}
                    <div class="card-body">
                      <h6 class="card-title">Presidential Elections: </h6>
                  
            
                      {% for election in  elections%}
                          <li><a href="/elections/{{election[2]}}">{{election[1].day}} {{election[1].strftime("%B")}} {{election[1].year}}</a>, {{election[0]}}% </li>
                      {% endfor %}

                    </div>
                    {% endif %}

                </div>
             

            </div>
        
        
        </div>


    </div>

    {% if elections %}
    <img width="700" height="700" style="display: block;margin-left: auto;margin-right: auto;" src="{{url_for('static', filename=person[0])}}_presidential_graph.svg" alt="Card image cap">
    {% endif %}

    {% if generalElection %}
    <img width="700" height="700" style="display: block;margin-left: auto;margin-right: auto;" src="{{url_for('static', filename=person[0])}}_person_party_graph.svg" alt="Card image cap">
    {% endif %}
</body>