<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <title>People</title>
</head>
<body>
    
    <div style= "margin-top: 100px;" class="container">
        <h3>Persons</h3>
        <hr>


        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Hometown</th>
                <th scope="col">Date of Birth</th>
                <th scope="col">Date of Death</th>
              </tr>
            </thead>
             {% for person in  persons%}
            <tbody>
               
                    <th scope="row"> {{person[0]}}</th>
                    <td>{{person[1]}}</td>
                    <td>{{person[2]}}</td>
                    <td>{{person[3]}}</td>
                    <td>{{person[4]}}</td>
                    <td>{{person[5]}}</td>
            </tbody>
           {% endfor %}
        </table>
        

        <br><br>

        <div style= "margin-left: 35%;" class="container">
            
            {% for person in  persons%}
            <div class="col-sm-4">
              <div class="card">
                <a href="persons/{{person[0]}}">
                <img width="256" height="256" style="display: block;margin-left: auto;margin-right: auto;" src="{{url_for('static', filename=person[6])}}" alt="Card image cap">
              </a>
                <div class="card-body">
                  <h5 class="card-title">{{person[1]}} {{person[2]}}</h5>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><i>Date of Birth:</i> {{person[4].day}} {{person[4].strftime("%B")}} {{person[4].year}}</li>
                    <li class="list-group-item"><i>Hometown:</i> {{person[3]}}</li>
                    {% if person[5] %}
                        <li class="list-group-item"><i>Date of Death:</i>  {{person[5]}}</li>
                    {% else %}

                    {% endif %}
                    
                     
                  </ul>
                  <div class="card-body">
                  <h6 class="card-title">Parties: </h6>
                  {% for member in  members%}
                  {% if person[0]==member[4] %}
                  <li>{{parties[member[3]-1][1]}}, {{member[1].year}} - {{member[2].year}}  </li>
                  {% endif %}
                  {% endfor %}
                </div>
                 
              </div>
            </div>
            <br>
            {% endfor %}
            </div>
          

</div></div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
</body>
</html>